.experience {
    display: flex;
    margin-top: 50px;
    text-align: center;
    justify-content: space-around;
    
  }
.experience div {
  background-color: rgb(217, 219, 243);
  padding: 10px 15px 10px 15px;
}
.experiences {
    width: 430px;
  }