.extra {
    display: flex;
    text-align: center;
    justify-content: space-around;
    
  }
.extra div {
  background-color: rgb(217, 219, 243);
  padding: 10px 15px 10px 15px;
}
  .extras {
    width: 430px;
  }